.main-content {
    gap: 10.5rem;
    width: 100%;
}

.search-container {
    margin-bottom: 10rem;
}

.glass-container {
    text-align: center;
    width: 100%;
    padding: 1rem 0;
    position: absolute;
    margin: auto;
    bottom: 2rem;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
}

.border-card {
    padding: 1rem 1rem 1rem 2rem;
    border-left: 6px solid var(--blue-primary);

}

.progress-bar {
    width: 80%;
    height: 12px;
    border-radius: 1.25rem;
    background-color: var(--blue-secundary-25) !important;
    position: relative;
}

.progress-fill {
    width: 20%;
    height: 100%;
    background-color: var(--blue-secundary) !important;
    border-radius: 1.25rem;
}

.green-button {
    border: 1px solid #28a745;
    color: #28a745;
    background-color: transparent;
    padding: 0 0.5rem;
    border-radius: 0.25rem;
    font-weight: 500;
}

.glass-container {
    text-align: center;
    width: 100%;
    padding: 1rem 0;
    position: absolute;
    margin: auto;
    bottom: 2rem;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
}

.search-div {
    border: 1px solid var(--blue-secundary)
}

.search-div .bnt-search {
    background-color: var(--blue-secundary);
    font-size: 1.5rem;
    color: white;
}

.title-one {
    font-size: 90px;
    font-weight: bold;
}

.btn-all {
    color: var(--blue-primary) !important;
    height: 100%;
    background-color: var(--blue-secundary-25) !important;
}